body {
	margin:0;
	padding:0;
}

#status {
	width: 800px;
	margin: 20px auto 0px auto;	
}

#main {
	width: 800px;
	height: 400px;
	margin: 0px auto 0px auto;
}

#login {
	width: 300px;
	margin: 0px auto 0px auto;
}

#chat {
	width: 800px;
	margin: 0px auto 0px auto;
}

#chat div {
	width: 800px;
	height: 110px;
	text-align:left;
	overflow-y: scroll;
}

#chat input {
	width: 800px;
}

#nav {
	float: left;
	width: 200px;
	background-color: yellow;
}

#pane {
	float:left;
	width: 600px;
	height: 400px;
	overflow: hidden;
}

table {
	padding:0;
	margin:0;
	border-collapse: collapse;
}

td {
	background-color:black;
	border: solid 1px white;
	color: white;
	width:128px;
	height:128px;
	margin: 0;
	padding: 0;
}
